.wrapper {
    outline: 1px solid #0c0;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.blockView {
    outline: 1px solid #c00;
    width: 240px;
    height: 240px;
    float: left;
    margin: 0 20px 20px 0;
}

.blockView:nth-child(2n) {
    margin: 0;
}