.container-fluid .row {
    /*outline: 1px solid #00c;*/
    min-height: 100px;
    margin-right: 0;
}

.container-fluid .mainBlock {
    /*outline: 1px solid #0c0;*/
    background-image: url("../Row16.jpg");
    /*background-color: rgba(0, 0, 0, .5);*/
    /*background-size: 100%;
    background-repeat: no-repeat;*/
}

/*.container-fluid .mainBlock .musk, .container-fluid .fullInfoServiceBlock .musk {
    background: rgba(0,0,0,0.5);
}*/

.musk {
    background: rgba(0,0,0,0.5);
}

.container-fluid .fullInfoServiceBlock {
    background-image: url("../coridor.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainBlock .text-center, .fullInfoServiceBlock .text-center {
    color: white;
}

.mainBlock .header {
    font-size: 65px;
    font-family: Helvetica, Arial, sans-serif;
}

.mainBlock .btn {
    padding: 20px 40px;
}

.mainBlock .subtext {
    font-size: 22px;
    padding: 0 10px;
}

.twoWordsBlock .header, .twoWordsBlock .subtext, .twoWordsBlock .imgs .row {
    padding: 0 10px;
}

.twoWordsBlock .text {
    margin-top: 100px;
}

.p-y-0 {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-4 {
    margin-bottom: 50px;
}

.col-md-6 {
    /*background-color: red;*/
    min-height: 50px;
}

.contactsBlock {
    background-color: #f5f5f5;
    margin-top: 40px;
    padding-top: 20px;
}

.contactsBlock .row {
    min-height: 50px;
}

.contactsBlock form {
    margin-top: 20px;
}

.contactsBlock textarea {
    /*min-width: 310px;*/
    /*max-width: 310px;*/
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .twoWordsBlock .text {
        margin-top: -40px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .mainBlock .header, .fullInfoServiceBlock .header {
        font-size: 40px;
    }

    .contactsBlock .headInfo {
        font-size: 20px;
    }

    .mainBlock .subtext, .fullInfoServiceBlock .subtext {
        font-size: 16px;
    }

    .twoWordsBlock .header {
        font-size: 24px;
    }

    .twoWordsBlock .subtext {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .mainBlock .header, .fullInfoServiceBlock .header {
        font-size: 30px;
    }

    .mainBlock .subtext, .fullInfoServiceBlock .subtext {
        font-size: 12px;
    }

    .twoWordsBlock .header {
        font-size: 20px;
    }

    .twoWordsBlock .subtext {
        font-size: 12px;
    }

    .twoWordsBlock .text {
        margin-top: -80px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1340px) {
    .container-fluid .mainBlock {
        background-size: 100%;
    }
}