.container-fluid .row {
    /*outline: 1px solid #00c;*/
    min-height: 100px;
}

.container-fluid .mainBlock {
    outline: 1px solid #0c0;
    background-image: url("../Row16.jpg");
    background-color: rgba(0, 0, 0, .5);
    /*background-size: 100%;
    background-repeat: no-repeat;*/
}

.container-fluid .mainBlock .musk {
    background: rgba(0,0,0,0.5);
}

.mainBlock .text-center {
    color: white;
}

.mainBlock .header {
    font-size: 65px;
    font-family: Helvetica, Arial, sans-serif;
}

.mainBlock .btn {
    padding: 20px 40px;
}

.mainBlock .subtext {
    font-size: 22px;
    padding: 0 10px;
}

.p-y-0 {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 500px) {
    .mainBlock .header {
        font-size: 40px;
    }

    .mainBlock .subtext {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .mainBlock .header {
        font-size: 30px;
    }

    .mainBlock .subtext {
        font-size: 12px;
    }
}